<html>
    <head>
        <title>リミスペテスト</title>
        
        
        <link href="/assets/stylesheets/limispe.css" rel="stylesheet">
        
    </head>
    <body>
    
    <div class="container container-height">
      <div class="row header-row">
        <div class="col-md-12 header">Limispe</div>
      </div>

      <div class = "row bg-row">
        <div class="col-md-12 bg-col">
          <div id="space"  class="bg1"></div>
        </div>
      </div>

      <div class="row footer-rowS">
        <div class="col-md-12 footer">footer</div>
      </div>

    </div>
    </body>
        <script src="/assets/javascripts/jquery-1.11.3.min.js"></script>
        <script src="/assets/javascripts/model/limispeManager.js"></script>
        <script src="/assets/javascripts/model/limispe.js"></script>
        <script src="/assets/javascripts/view/put.js"></script>
</html>