<html>
  <head>



    <!-- bootstrap -->
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/assets/stylesheets/limispe.css" rel="stylesheet">

    <!-- javascript -->
    <script src="/assets/javascripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/assets/javascripts/bootstrap-modal.js" type="text/javascript"></script>
    <script src="/assets/javascripts/bootstrap-transition.js" type="text/javascript"></script>


  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 header">Limispe</div>
      </div>

      <div class = "row">
        <div class="col-xs-3 col-sm-3 col-md-3">icon</div>
        <div class="col-xs-9 col-sm-9 col-md-9">pankuzu</div>
      </div>

      <div class="row pad">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="container">menu
          </div>
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9">
          <div class="panel panel-default">
            <div class="table-bordered">
              <table class="table file-font">
                <thead>
                  <tr>
                    <th>名前</th>
                    <th>更新</th>
                    <th>サイズ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#view"  data-toggle="modal">1</a></td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>

              <!-- モーダル -->
              <div class="modal hide fade" id="view" tabindex="-1">
                <!-- <button data-remodal-action="close" class="remodal-close"></button>
                <button data-remodal-action="cancel" class="remodal-cancel"></button>
                <button data-remodal-action="cancel" class="remodal-cancel"></button> -->
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 footer">footer</div>
      </div>

    </div>


  </body>
</html>
