<html>
  <head>
    <!-- <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/assets/stylesheets/limispe.css" rel="stylesheet">
  </head>

  <body>
    <div class="container container-height">
      <div class="row header-row">
        <div class="col-md-12 header">Limispe</div>
      </div>

      <div class = "row bg-row">
        <div class="col-md-12 bg-col">
          <div class="bg1"></div>
        </div>
      </div>

      <div class="row footer-rowS">
        <div class="col-md-12 footer">footer</div>
      </div>

    </div>


  </body>
</html>
